* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  /* debug */
  border: 1px solid;
}

.main-container {
  padding: 30px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
}

img {
  height: 300px;
}